<div class="container-login">
    <div class="login-form">
        <div class="content-top">

            <div class="text-top">
                <div>
                    <span>Hello Again!</span>
                </div>
            </div>
            <div class="text-bottom">
                <div>wellcome back bro!!</div>
            </div>
        </div>
        <form action="">
            <input type="text" placeholder="enter username">
            <input type="password" placeholder="enter password">
            <div class="forgot">
                <a href="/account/password_resets">forgot your password ?</a>
            </div>
            <button type="submit">sign in</button>
        </form>
        <p class="break"> --- or continue with ---</p>

        <div class="social-icons">
            <div class="google icon">
                <i class="fab fa-google"></i>
            </div>
            <div class="facebook icon">
                <i class="fab fa-facebook"></i>
            </div>
        </div>
        <div class="regis">
            <p>not a member ?</p><a href="/account/register">register now</a>
        </div>
    </div>
</div>